# Telegram Bot Token
TELEGRAM_BOT_TOKEN=your_bot_token_here

# Для локальной разработки
DATABASE_URL_LOCAL=postgresql://postgres:xidgVfywUspSqbQgLKqbbVXYmshpQfBp@postgres.railway.internal:5432/railway

# Railway автоматически добавит DATABASE_URL
