# Telegram Bot Token
TELEGRAM_BOT_TOKEN=8321608631:AAGGDFd1k06TzTEWo69Jt4lMh-Ef1Js3T1Y

# Для локальной разработки
DATABASE_URL_LOCAL=postgresql://postgres:xidgVfywUspSqbQgLKqbbVXYmshpQfBp@postgres.railway.internal:5432/railway

# Railway автоматически добавит DATABASE_URL
